body {
  font-family: helvetica,arial,verdana,sans-serif;margin:80px 0;
  font-size: 250%;
}
h1,h2{
  text-align: center;
}
h1{
	font-size:150px;
	margin-top: 200px;
}
h2{
	margin-bottom:0px;
}
p{
	margin: 10px;
}
.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
.body-text {
	text-align:center;
}
