body {
  font-family: helvetica,arial,verdana,sans-serif;margin:80px 0;
  font-size: 150%;
}
h1, h2 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
.body-text {}
